@model Users


@foreach (var item in Model.CustomUsers)
{
    if (item.IsAdmin == false)
    {
        if (item.IsStudent == true)
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Universite_Web" asp-controller="UserLogin" asp-action="about" asp-route-id="@item.Id">Elektron Jurnal</a>
            </li>
        }

    }
}
