@model Universite_Web.Models.UniverstyVideo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>UniverstyVideo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="~/Uploads/@Model.BackImg" alt="Alternate Text" style="max-width:250px; max-height:350px" />
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <input asp-for="@Model.Id" hidden />
            <input asp-for="@Model.BackImg" hidden />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

