@model CustomUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Subject</title>
    @Model.Name
</head>
<body>
</body>
</html>
